<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Reseller Group</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/font-awesome/css/all.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcomClubDiscordPayment.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <link rel="icon" type="image/ico" href="~/ResellerLogo.ico">
</head>
<body style="background-color: #757787">
    <header>
        <nav class="navbar navbar-light navbar-background box-shadow mb-3 fw-bold" style="background-color: rgb(41 38 38);">
            <div class="container-fluid justify-content-start">
                <img src="~/images/resellerlogo.png" style="height: 5rem;"/>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-black" style="border-color: black !important">
        <div class="container">
            &copy; 2023 - The Reseller Group
        </div>
    </footer>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
