@{
}

<div class="text-center" style="margin-top: 100px">
    <div class="buttonDiv">
        <button style="--clr:#39FF14" onclick="discordClick()"><span>Join Our Discord</span><i></i></button>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="socialDiv">
    <ul>
        <li><a href="https://www.instagram.com/ecomclubuk/"><i class="fa-brands fa-instagram instagram"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-whatsapp whatsapp"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitter twitter"></i></a></li>
    </ul>
</div>


<script type="text/javascript">
    function discordClick(){
        window.location.href = '@Url.Content("~/Home/Stripe")';
    }
</script>